.live-matches-title-box{
    max-width: 200px;
    height: 40px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.live-wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.live-matches-title-box h2{
    color: whitesmoke;
    cursor: context-menu;
}
.live-matches-wrapper{
    max-width: 700px;
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 40px;
}
.no-match-box{
    width: 240px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}
.no-match-box p{
    color: whitesmoke;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}
.score-wrapper{
    display: flex;
    gap: 10px;
}
.score-wrapper h3{
    width: 80%;
}
.score-wrapper p{
    color: whitesmoke;

}